.env
.venv/
.vscode/
__pycache__/
pytest_cache/
#pre-commit.ps1
#.flake8
#.pre-commit-config.yaml
#.isort.cfg
#.black
## Python cache files
#__pycache__/
## Byte-compiled files
#*.py[cod]
## Distribution / packaging
#.Python
#build/
#develop-eggs/
#dist/
#downloads/
#eggs/